.lg-post {
    text-align: center;
    &__title {
        font-weight: 700;
        font-size: 18px;
    }
    &__link {
        font-weight: 500;
    }
}

.wp-block-lg-blocks-latest-posts {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
    .lg-post.card {
        padding: 0;
        border-radius: 0;
        margin-left: 10px;
        margin-right: 10px;
    }
}

@for $i from 1 through 6 {
    &.has-#{$i}-columns {
        .lg-post.card {
            width: calc(100% /#{$i} - 20px);
        }
    }
}
