.wp-block-lg-blocks-secondblock {
	background-color: #524d5b;
	color: #fff;
	border-radius: 5px;
	padding: 20px;
	&.is-style-squared {
		border-radius: 0px;
	}
	&.is-style-outline {
		border-radius: 0px;
		border: 2px solid currentColor;
	}
	&.has-shadow {
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
		&.shadow-opacity-10 {
			box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
		}
		&.shadow-opacity-20 {
			box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
		}
		&.shadow-opacity-30 {
			box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
		}
		&.shadow-opacity-40 {
			box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
		}
	}
}
