.editor-styles-wrapper {
    .wp-block-lg-blocks-team-member {
        &__title {
            color: #222;
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 0;
        }
        &__info {
            color: #565656;
            font-weight: 300;
            margin-bottom: 5px;
        }
        &__linkForm {
            border: 1px solid #eaeaea;
            padding: 10px;
            margin-top: 10px;
        }
        &__removeLink {
            color: #d23535 !important;
            font-size: 14px;
            text-decoration: underline !important;
            cursor: pointer;
        }
        &__addIcon {
            padding: 2px;
            line-height: 1;
            border: 1px dashed #8c969f;
            cursor: pointer;
        }
    }
}

.social_dragging {
    list-style: none !important;
}

.wp-block-lg-blocks-team-members {
    display: block;
    margin-left: 0px;
    margin-right: 0px;
    @for $i from 1 through 6 {
        &.has-#{$i}-columns {
            [data-type="lg-blocks/team-member"] {
                width: calc(100% / #{$i});
            }
        }
    }
    > .editor-inner-blocks > .editor-block-list__layout {
        display: flex;
        flex-wrap: wrap;
        .block-list-appender {
            width: 100%;
        }
        > [data-type="lg-blocks/team-member"] {
            max-width: none;
            margin-left: 0;
            margin-right: 0;
        }
    }
    .wp-block-lg-blocks-team-member {
        margin: 0;
        width: auto !important;
    }
}
