.wp-block-lg-blocks-team-members {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
    @for $i from 1 through 6 {
        &.has-#{$i}-columns {
            .wp-block-lg-blocks-team-member {
                width: calc(100% /#{$i} - 20px);
            }
        }
    }
    .wp-block-lg-blocks-team-member {
        margin: 10px;
        &__title {
            color: #222;
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 0;
        }
        &__info {
            color: #565656;
            font-weight: 300;
            margin-bottom: 5px;
            margin-top: 0;
        }
        &__social {
            ul {
                list-style: none;
                line-height: 1;
                margin-left: -5px;
                margin-right: -5px;
                li {
                    display: inline-block;
                    line-height: 1;
                    margin: 5px;
                    a {
                        border-bottom: none;
                    }
                    &.is-selected {
                        outline: 2px solid #f03;
                    }
                    svg {
                        vertical-align: middle;
                        color: #4e4e4e;
                    }
                }
            }
        }
    }
}
